.program__overview__main{
    /* padding: 5rem; */
    padding:  5rem;
    /* width: 100%; */
    @media screen and (max-width: 768px) {
        /* font-size: 14px;         */
        padding: 2rem;
    }
}
.program__overview__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 1400px ) {
        flex-direction: column;        
    }
}
.program__overview__content__img{
    width: 50%;
    @media screen and (max-width: 1400px) {
        width: 100%;        
    }
}

.program__overview__content__text{
    width: 50%;
    @media screen and (max-width: 1400px) {
        width: 100%;        
    }
}
.program__overview__head{
    font-size: 48px;
    color: #FF5F15;
    font-weight: 600;
    line-height: 7rem;
    @media screen and (max-width: 768px) {
        /* width: 100%;         */
        font-size: 38px;
    }
}
.program__overview__subtext1{
    font-size: 24px;
    @media screen and (max-width: 768px) {
       font-size: 14px;        
    }
}
.program__overview__subtext2{
    margin-top: 20px;
    font-size: 24px;
    @media screen and (max-width: 768px) {
       font-size: 14px;        
    }
}
