.profile__main .profile_section_one{
    width:1008px;
    padding: 15px 50px;
    box-shadow:0px 5px 10px 0px gray;
    margin: 50px auto;
    border-radius:20px;

    
    @media screen and (width < 768px) {
        width: 90%;
    }
}
