.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../../../images/latestNews.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.login-form {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 10% 10% 10% 10%;
  width: 100%;
  padding: 2em;
  background-color: transparent;
  backdrop-filter: blur(2px);
  /* background: #f7f7f7; */
  /* opacity: 0.478; */
  border: 2px solid #ff5f15;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form-inner {
  width: 60%;
  gap: 5%;
  justify-content: center;
}

.form-titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-bottom: 1em;
  justify-self: center;
  margin-left: -10%;
}

.form-titles img {
  align-self: center;
  margin-left: -15%;
  margin-right: 8%;
  border: none;
  border-radius: 8px;
  align-self: flex-start;
  width: 15%;
}

.login-form form div {
  margin-bottom: 1em;
}

.login-form label {
  display: block;
  margin-bottom: 0.5em;
}

.login-form input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 5%;
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
}

.login-form button {
  padding: 0.5em 2em;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  background-color: #ff5f15;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.text {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 95, 21, 0.35);
  color: #fff;
  border: #ff5f15;
  border-radius: 7%;
  padding: 5%;
}

.text-title {
  padding-bottom: 5%;
}
