.wca__main{
    /* padding: 5rem; */
    padding:  5rem;
    background-color: #faece5;
    /* background-opacity: 5%; */
    /* width: 100%; */
    @media screen and (max-width: 768px) {
        /* font-size: 14px;         */
        padding: 2rem;
    }
}

.wca__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 1400px ) {
        flex-direction: column;        
    }
}
.wca__content__text{
    width: 50%;
    @media screen and (max-width: 1400px) {
        width: 100%;        
    }
}
.wca__head{
    font-size: 48px;
    color: #FF5F15;
    font-weight: 600;
    line-height: 7rem;
    @media screen and (max-width: 768px) {
        /* width: 100%;         */
        font-size: 35px;
    }
}
.wca__content__text p{
    font-size: 24px;
    line-height: 2.5rem;
    @media screen and (max-width: 768px) {
       font-size: 14px;        
    }
}
.wca__subtext2,
.wca__subtext3{
    margin-top: 20px;
}