.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../../images/latestNews.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inner-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: 10% 10% 10% 10%;
  width: 100%;
  padding: 2em;
  /* background-color: transparent; */
  background-color: rgba(255, 95, 21, 0.45);
  backdrop-filter: blur(2px);
  /* background: #f7f7f7; */
  /* opacity: 0.478; */
  border: 2px solid #ff5f15;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  justify-self: flex-start;
  margin-left: -35%;
  align-self: center;
  width: 25%;
  border-radius: 15px;
}

.text {
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 2%;
  background: none;
}

.button {
  display: flex;
  gap: 10;
  justify-content: center;
  padding: 2% 5% 2% 5%;
}

.button-talent {
  display: flex;
  border: 1px solid #ff5f15;
  border-radius: 7px;
  background: #fff;
  width: 9.5%;
  height: 45px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.button-talent:hover {
  background-color: #c0c0c0;
}

.button-company {
  display: flex;
  border: 1px solid #ff5f15;
  border-radius: 7px;
  color: #000;
  background: #fff;
  width: 16%;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-left: -2%;
  cursor: pointer;
}

.button-company:hover {
  background-color: #c0c0c0;
}
