.join-silicon-verse-main{
    padding: 3rem;
}
.join-silicon-verse-head{
    font-size: 48px;
    /* margin-top: 20px; */
    font-weight: bold;
}
.join-silicon-verse-content{
    margin-top:30px;
    font-size: 20px;
}
.join-content-head1{  
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 95, 21, 1);
}
.build-connect-content{
    margin-top: 20px;
    line-height: 2rem;
}
.join-silicon-verse-2-content{
    margin-top: 20px;
}
.Join_community__content{
    font-size: 20px;
    margin-top: 20px;
    padding: 0rem 5rem 0rem 0rem;
}