.layout_body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.layout_content {
    height: calc(100vh - 120px);
    overflow-y: auto;
    grid-column: 4 / -1;
    scrollbar-width: thin;
    scrollbar-color: #ff5f15 #88888886 !important;

    /* WebKit (Safari, Chrome) scrollbar customization */
    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ff5f15;
        border-radius: 10px;
    }

    /* Media query for smaller screens */
    @media screen and (max-width: 767px) {
        grid-column: 1 / -1;
    }
}