@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-roboto;
}

:root {
  --primary-color: #ff5f15;
  --silicon-green: #2eb67d;
  --silcon-red: #ff0000;
  --white: #ffffff;
  --text-color: #222222;
  --silicon-gray: #2f2e2e;
  --background-color: #fdefe9;
}

.signUp-bg-image {
  background-image: url("./assets/latestNews.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.signUp-bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Add this CSS to your global CSS file */
input[type="checkbox"].custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 35px;
  height: 30px;
  background-color: #fff;
  border: 2px solid rgb(231, 226, 226);
  border-radius: 39%;
  display: inline-block;
  position: relative;
  margin-right: 0.7rem;
}

input[type="checkbox"].custom-checkbox:checked {
  background-color: #ff5f15;
  border-color: #ff5f15;
}

input[type="checkbox"].custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 39%;
  transform: translate(-50%, -50%);
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
