:root {
  font-family: 'Poppins', sans-serif;
  --primary-color: #FF5F15;
  --green: #2EB67D;
  --white: #FFFFFF;
  --text-color: #222222;
  color: var(--text-color);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;

}