.success__story__main{
    padding: 2rem 5rem;
    /* width: 100%; */
    @media screen and (max-width: 768px) {
        /* font-size: 14px;         */
        padding: 2rem;
    }
}
.success__story__text{
    text-align: center;
}
.success__story__text__head{
    font-size: 48px;
    color: #FF5F15;
    font-weight: 600;
    line-height: 7rem;
    /* color: #595959; */
    @media screen and (max-width: 768px) {
        /* width: 100%;         */
        font-size: 38px;
    }
}
.success__story__subtext{
    font-size: 24px;
    @media screen and (max-width: 768px) {
        /* width: 100%;         */
        font-size: 14px;
        /* color: #; */
    }
}
.success__story__reviews{
    max-width: 1300px;
    /* height: 400px; */
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    width: 100%;

}
.success__story__final__text{
    font-size: 20px;
    margin-bottom: 50px;
}
.success__text_button{
    box-sizing: border-box;
    border: 1px solid #FFFF;
    border-radius: 20px;
    padding: 15px 40px;
    background-color: #FF5F15;
    color: #FFFF;
    font-weight: 600;
    font-size: 18px;
    /* margin-top: 120px; */
}